# Snowflake (Analytics - Read Only)
SNOWFLAKE_ACCOUNT=IKB...
SNOWFLAKE_USER=CONF...
SNOWFLAKE_WAREHOUSE=CONF...
SNOWFLAKE_PRIVATE_KEY=MII...

# Postgres (ConflictReport - Read/Write)
POSTGRES_HOST=aws...
POSTGRES_USER=c...
POSTGRES_PASSWORD=

# Environment
ENVIRONMENT=dev
LOG_LEVEL=INFO
